{erl_opts, [debug_info, warnings_as_errors]}.

{deps, []}.

{profiles, [
    {test, [
        {deps, [{proper, "1.4.0"}]},
        {erl_opts, [nowarn_export_all]}
    ]}
]}.

{plugins, [rebar3_proper]}.

{proper_opts, [{numtests, 1000}]}.

{dialyzer, [
    {warnings, [unmatched_returns, error_handling]}
]}.

{xref_checks, [
    undefined_function_calls,
    locals_not_used,
    deprecated_function_calls
]}.
